@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  font-family: 'Inter', sans-serif;
}

.container {
  height: 704px;
  width: 550px;
  background-color: #ffffff;
}

.navbar {
  height: 70px;
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  display: flex;
  gap: 10px;
  color: #ffffff;
}

.card-container {
  display: flex;
  margin: 36px 40px;
  min-width: 470px;
  min-height: 168px;
}

.img {
  width: 125px;
  height: 168px;
  border-radius: 10px;
  margin-right: 19px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.location-container {
  display: flex;
  font-size: 12px;
}

.location {
  margin-right: 12px;
}

.google-link {
  color: #918e9b;
}

.title {
  font-size: 25px;
}

.dates {
  font-size: 12px;
  font-weight: 700;
}

.description {
  font-size: 12px;
}
