* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.container {
  height: 704px;
  width: 550px;
  border: 1px solid red;
  background-color: #ffffff;
}

.navbar {
  height: 70px;
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  padding: 50px 40px;
  width: 470px;
  height: 170px;
}

.img {
  width: 125px;
  height: 168px;
  border-radius: 10px;
  margin-right: 20px;
}

.location-container {
  display: flex;
}

/* Title container */

.dates-container {
  display: flex;
}
